config.stopBubbling = true

lombok.addNullAnnotations = CUSTOM:io.micronaut.core.annotation.NonNull:io.micronaut.core.annotation.Nullable
lombok.addJavaxGeneratedAnnotation = true
lombok.addLombokGeneratedAnnotation = true

# adjust model
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.accessors.chain = true

# use slf4j
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
