<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false">

	<include resource="io/kokuwa/logback/base.xml" />

	<logger name="io.micronaut.logging.PropertiesLoggingLevelsConfigurer" levels="WARN" />

	<root level="INFO">
		<appender-ref ref="${LOGBACK_APPENDER:-CONSOLE}" />
	</root>

</configuration>
